  body { 
    color: "white";
    background-color: "#009900";
  }
  p {
    color: "white";
    margin-right: 200px;
    margin-left: 200px;
  }
  img.displayed {
    display: block;
    margin: 0 auto;
  }
  ul#MenuBar {   
    list-style-type: none;
    margin: 0;    
    padding: 0;    
    position: fixed;    
    top: 0;    
    width: 100%;
    }
  li.menu {    
    float: left;
    }
  li.menu a {    
    display: block;    
    padding: 8px;    
    background-color: #dddddd;
  }
