 body { 
    color: "#FFFFFF";
    background-color: green;
  }
  p {
    color: "#FFFFFF";
    margin-right: 200px;
    margin-left: 200px;
  }
  img.displayed {
    display: block;
    margin: 0 auto;
  }

div.committee-pic {
 
 padding: 50px 0px
  
}
