body {
    background-image: url("background-test.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
} 

div.container { 
    background:rgba(150, 255, 130, 0.5);
  }

p {
    color: "#FFFFFF";
    margin-right: 200px;
    margin-left: 200px;
  }

p#about {
  font-size: 100%;
  }

img.img-circle {
   
  }

p#gw {
margin: 0 auto;
}

p#3 {
margin: 0 auto;
}

p.resources { 
    padding: 20px; 0px; 0px;
    text-align: left;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

a.btn {
    background-color: #008CBA;
}

  img.displayed {
    display: block;
    margin: 0 auto;
  }

div.committee-pic {
 padding-bottom: 100px;
}
