body {
    background-image: url("leaves-background.jpg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
} 

footer {
	text-align: right;
}

div.container { 
    background:rgba(255, 255, 255, 0.75);
  }

/*union logo*/
img.union-pic {
	max-height: 20px;
	max-width: auto;
}

/*subheadings on about page*/
div.subheading-right {
	text-align: right;
}

p.body-text {
	display: block;
    text-align: left;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}

p.body-text-big {
	display: block;
    text-align: left;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}

div.centered-pic {
	display: block;
	margin: 0 auto;
}
/*About related css start*/

p#about {
  font-size: 100%;
  }
/*About related css end*/


/*Green Week related css start*/
p#gw {
	text-align: center; /*not working*/
}

/*Green Week related css end*/


/*Contact Us related css start*/
div#3 {
	display: block;
	margin: 0 auto;
	width: 100%; /*not working*/
}

div.contact-info { 
    display: block;
    text-align: left;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}

a.btn {
    background-color: #3b5998;
	color: #ffffff;
	font-family: "Tahoma";
}

/*Contact Us related css end*/

  img.displayed {
    display: block;
    margin: 0 auto;
  }

div.committee-pic-first {
 padding-bottom: 50px;
}

div.committee-pic-second {
	padding-bottom:50px;
}

/*Image carousel align*/
div.carousel-inner img {
  margin: auto;
}

/*circle committee images*/
img.img-circle {
	height: auto;
	width: auto;
	max-height: 200px;
	max-width: 200px;
}

/*header image center*/
img.header {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*Blog css*/
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  max-height: 240px;
  max-width: auto;	
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
  max-height: 240px;
  max-width: auto;	
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  max-height: 240px;
  max-width: auto;	
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  max-height: 240px;
  max-width: auto;	
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
  max-height: 240px;
  max-width: auto;	
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
  max-height: 240px;
  max-width: auto;	
}

.hovereffect a, hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
  max-height: 240px;
  max-width: auto;	
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  max-height: 240px;
  max-width: auto;	
}
	
